@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  margin: 0;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.masthead {
  margin: 0 auto;
  text-align: center;
}
.cell.extraMargin {
  margin: 16px;
}
