body {
    .sans-serif;
    margin: 0;

    /*** TYPOGRAPHY ***/
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    line-height: 1.35;
    letter-spacing: 0.01em;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
	font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.cell {
    //border: 1px solid;
    &.extraMargin {
        margin: 16px;
    }
}
