<div ng-class="{xs: $mdMedia('xs'), masthead:1}">
    <div class='copy'>
        <h1>{{ seasonObject.year }} Season</h1>
        <hr class='smallDivider'>
        <h2>{{ seasonObject.championName }}</h2>
        <h4>WORLD SERIES CHAMPIONS</h4>
    </div>
</div>

<div flex layout="row" layout-wrap layout-margin="5px">
    <div class='cell' flex-gt-sm>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline  recapTitle">Postseason Recap</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div flex layout='row'>
                    <div flex-gt-xs="66" class='cell bodyText'>
                        <p ng-repeat="line in seasonObject.wsRecap">{{line}}</p>
                    </div>
                    <div flex="5" hide-xs class='cell'></div>
                    <div flex="30" hide-xs class='cell'>
                        <md-card-media ng-show="seasonObject.hasBracket">
                            <div class="md-media-lg card-media">
                                <a ng-href="img/seasons/{{seasonObject.year}}/bracket-1.png"><img src="img/seasons/{{seasonObject.year}}/bracket-1.png" style="width:100%";></a>
                            </div>
                        </md-card-media>
                        <md-card-media ng-hide="seasonObject.hasBracket">
                            <div class="md-media-lg card-media">
                                [Bracket unavailable]
                            </div>
                        </md-card-media>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline  recapTitle">Season Notes</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class='bodyText'>
                <p ng-repeat="line in seasonObject.seasonRecap">{{line}}</p>
            </md-card-content>
        </md-card>
    </div>
    <div class='cell' flex flex-xs="100" flex-gt-sm="20">
        <md-list>
            <md-subheader class="md-no-sticky">National League</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="award in awardsObjectNL">
                <img ng-src="img/misc/trophy.svg" class="md-avatar" alt="{{ award.$id }}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ award.$value }}</h3>
                    <p>{{ award.$id }}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div class='cell' flex flex-xs"100" hide-gt-xs>
        <md-divider></md-divider>
    </div>
    <div class='cell' flex flex-xs="100" flex-gt-sm="20">
        <md-list>
            <md-subheader class="md-no-sticky">American League</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="award in awardsObjectAL">
                <img ng-src="img/misc/trophy.svg" class="md-avatar" alt="{{'#'}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ award.$value }}</h3>
                    <p>{{ award.$id }}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
